Task 1
Load the data into a data frame and check for missing values.
Drop the rows with missing values and proceed with the cleaned-up data for the subsequent tasks.

In [38]:
import numpy as np
import pandas as pd

In [39]:
df = pd.read_csv("DS1_C4_S4_Used_Car_Prices_Data_Challenge.csv")
df

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493484 non-null  object
 6   state         558836 non-null  object
 7   condition     547043 non-null  float64
 8   odometer      558743 non-null  float64
 9   color         558088 non-null  object
 10  interior      558088 non-null  object
 11  seller        558837 non-null  object
 12  mp            558837 non-null  int64
 13  Arrival_Date  558812 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 59.7+ MB

In [41]:
print("missing values:")
df.isnull().sum()

missing values:

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mp                  0
Arrival_Date       25
dtype: int64

In [42]:
df.dropna(inplace=True)

In [43]:
df.shape

(472336, 14)

Task 2
Thomas, a potential customer from California, is interested in buying a low-priced car, manufactured in 2014. John needs to identify 100 lowest priced cars from the year 2014 with CA as the state of registration. Help John create and display the details of potential cars.

In [21]:
condition = (df["year"]==2014) & (df["state"]=="ca")
x=df[condition].sort_values("mp")[:100]
x

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101,2014,Mitsubishi,Mirage,DE,hatchback,automatic,ca,4.3,24002.0,silver,black,black/white auto sales,7225,Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609,2014,Nissan,Versa,1.6 SV,sedan,automatic,ca,4.1,43948.0,black,black,consumer portfolio services,7425,Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039,2014,Nissan,Versa,1.6 SV,Sedan,manual,ca,3.0,44854.0,black,black,bmw alphera/alphera financial services,7525,Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536,2014,smart,fortwo,passion coupe,hatchback,automatic,ca,4.8,3575.0,—,black,mercedes-benz financial services,7900,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120118,2014,Mitsubishi,Lancer,ES,Sedan,automatic,ca,4.1,31861.0,black,black,avis rac/san leandro,9725,Wed Jan 21 2015 04:30:00 GMT-0800 (PST)
408827,2014,Nissan,Versa Note,1.6 SV,Hatchback,manual,ca,4.9,13922.0,gray,black,nissan north america inc.,9725,Tue Apr 21 2015 05:30:00 GMT-0700 (PDT)
197057,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.5,11442.0,black,gray,nissan motor acceptance corporation,9750,Tue Jan 27 2015 04:30:00 GMT-0800 (PST)
299017,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.8,43774.0,black,black,avis rac/san leandro,9750,Wed Feb 11 2015 04:30:00 GMT-0800 (PST)
197093,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,4.6,10529.0,—,black,nissan motor acceptance corporation,9750,Tue Jan 27 2015 04:30:00 GMT-0800 (PST)

Task 3
Thomas is confused looking at the long list of 100 cars. Help John to display the output in a cross table based on the car manufacturers and prices.

In [22]:
pd.pivot_table(x,index = ["make"], values=["mp"], aggfunc = ["mean"])

                   mean
                     mp
make
Chevrolet   9255.000000
FIAT        9150.000000
Ford        9292.857143
Hyundai     9675.000000
Mazda       9475.000000
Mitsubishi  8866.666667
Nissan      9124.537037
Toyota      9637.500000
Volkswagen  9175.000000
smart       9200.000000

In [25]:
cross_table = pd.crosstab(x['make'], x['mp'], rownames=["make"], colnames=["mp"], values=x['mp'], aggfunc='mean')

Task 4
Thomas is particularly interested in Chevrolet cars. Eric is willing to offer a 10% discount on Chevrolet cars from the list of 100 cars identified in the previous tasks.
Display the updated data with only Chevrolet cars with their original prices and discounted prices.

In [26]:
condition2=(x["make"]=="Chevrolet")
chevrolet  = x[condition2]
chevrolet["Discount price"] = chevrolet["mp"]*0.9
chevrolet[["make","mp", "Discount price"]]

C:\Users\rasto\AppData\Local\Temp\ipykernel_17100\1170453702.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chevrolet["Discount price"] = chevrolet["mp"]*0.9

             make    mp  Discount price
518957  Chevrolet  8400          7560.0
473427  Chevrolet  8500          7650.0
80892   Chevrolet  8700          7830.0
44314   Chevrolet  9050          8145.0
531030  Chevrolet  9150          8235.0
258946  Chevrolet  9250          8325.0
471595  Chevrolet  9325          8392.5
125534  Chevrolet  9450          8505.0
44341   Chevrolet  9500          8550.0
456227  Chevrolet  9500          8550.0
229362  Chevrolet  9550          8595.0
456215  Chevrolet  9550          8595.0
105924  Chevrolet  9625          8662.5
391429  Chevrolet  9625          8662.5
125525  Chevrolet  9650          8685.0

Task 5
Thomas and several other customers seem to be interested in the cars with black or gray colored interiors. John wants to figure out if the cars with interiors in black or gray are priced higher or lower than cars having interiors of other colors.
Determine the average price of all the 100 lowest priced cars from the year 2014 based on their interior colors.

In [29]:
condition3=(df["year"]==2014)

In [30]:
lowest_prices= df[condition3].sort_values("mp")[:100]
lowest_prices

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
457201,2014,Mitsubishi,Mirage,DE,Hatchback,automatic,tx,4.4,38139.0,gray,black,santander consumer,6000,Tue May 26 2015 17:00:00 GMT-0700 (PDT)
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
519193,2014,Mitsubishi,Mirage,DE,hatchback,automatic,nc,3.2,32254.0,purple,black,santander consumer,6825,Mon Jun 08 2015 02:30:00 GMT-0700 (PDT)
467865,2014,Mitsubishi,Mirage,DE,hatchback,automatic,tx,4.1,28476.0,red,black,budget rent a car/san antonio,6900,Wed Jun 03 2015 03:00:00 GMT-0700 (PDT)
236495,2014,Mitsubishi,Mirage,DE,Hatchback,automatic,nc,2.2,33913.0,silver,black,santander consumer,7025,Mon Feb 09 2015 01:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60755,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.5,37974.0,red,black,avis corporation,8425,Tue Jan 06 2015 12:30:00 GMT-0800 (PST)
515529,2014,Chevrolet,Spark,2LT,hatchback,automatic,fl,3.6,37517.0,blue,gray,enterprise veh exchange/rental,8450,Tue Jun 09 2015 02:15:00 GMT-0700 (PDT)
506772,2014,Nissan,Versa,1.6 SV,sedan,automatic,ga,3.4,55435.0,white,black,the hertz corporation,8450,Mon Jun 08 2015 17:00:00 GMT-0700 (PDT)
36336,2014,Chevrolet,Spark,LS,Hatchback,automatic,oh,3.1,21184.0,blue,black,wells fargo dealer services,8450,Tue Dec 23 2014 12:00:00 GMT-0800 (PST)
16018,2014,Ford,Fiesta,SE,Sedan,manual,fl,4.8,13926.0,white,black,"ford motor credit company,llc",8450,Thu Dec 18 2014 09:00:00 GMT-0800 (PST)

In [31]:
lowest_prices.groupby(by = ["interior"])["mp"].mean()

interior
black    7810.000000
gray     8036.904762
—        8093.750000
Name: mp, dtype: float64

In [32]:
year = df["year"]==2014
df3 = df[year]
print("other interior colors")
df3.groupby(by = ["interior"])["mp"].mean()

other interior colors

interior
beige        21382.227139
black        20016.297961
blue         19495.238095
brown        30351.937173
burgundy     28308.333333
gold         20651.562500
gray         18762.129874
green        18400.000000
off-white    35829.166667
orange       32195.000000
purple       25025.000000
red          33815.428571
silver       18952.659574
tan          22048.893743
white        22287.500000
yellow        9429.166667
—            22284.387430
Name: mp, dtype: float64

Task 6
Most buyers seem to prefer white and black colored cars. John wants to analyze color-wise availability of cars, for each manufacturer from the years 2010-15.

In [33]:
condition4 = df[df["year"].between(2010,2015 ,inclusive = "both")]
condition4

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,fl,3.9,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [34]:
pd.pivot_table(condition4, index = ["color"] , values = ["year"], aggfunc = "count")

            year
color
beige       2924
black      65230
blue       25037
brown       4118
burgundy    4289
charcoal     329
gold        3303
gray       50476
green       3463
lime           9
off-white    727
orange      1048
pink          32
purple       767
red        25179
silver     44314
turquoise     77
white      64640
yellow       437
—          20165

Task 7
Eric, another customer is interested in a good condition BMW Sedan manufactured between 2010 and 2015. John wants to display the details of all such cars that have a condition score >=4.5.
Help John to figure out of the year-wise maximum expected price (mp) of the above BMW cars manufactured between the year 2010 and 2015 grouped by each model.

In [35]:
year_2010_and_2015 = df[(df["year"].between(2010, 2015, inclusive = "both")) & (df["condition"]>=4.5) & (df["make"]=="BMW") & (df["body"]=="Sedan")]
year_2010_and_2015

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
37,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,5.0,111.0,black,—,financial services remarketing (lease),32200,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
39,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,9027.0,white,black,financial services remarketing (lease),30200,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
59,2014,BMW,M5,Base,Sedan,automatic,ca,4.7,7766.0,gray,black,fratelli investment group,71000,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
106,2014,BMW,5 Series,535d,Sedan,automatic,ca,4.8,12292.0,white,black,financial services remarketing (lease),46300,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461632,2010,BMW,5 Series,550i,Sedan,automatic,tx,4.9,31710.0,black,beige,ge fleet services for itself/servicer,23200,Thu May 28 2015 04:00:00 GMT-0700 (PDT)
461806,2014,BMW,3 Series,328d,Sedan,automatic,ca,4.7,32781.0,white,black,bmw north america/lemon law buy backs,27500,Wed May 27 2015 05:30:00 GMT-0700 (PDT)
478194,2015,BMW,3 Series,320i,Sedan,automatic,ca,4.8,2423.0,white,black,financial services remarketing (lease),30900,Thu Jun 04 2015 05:30:00 GMT-0700 (PDT)
545426,2015,BMW,4 Series Gran Coupe,428i,Sedan,automatic,oh,4.7,4071.0,black,gray,bmw north america raa,41500,Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
545436,2015,BMW,4 Series Gran Coupe,428i,Sedan,automatic,oh,4.8,4123.0,blue,black,bmw north america raa,46900,Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)

In [37]:
year_2010_and_2015.groupby(by = ["year"])["mp"].max()

year
2010     28100
2011     39700
2012     44200
2013     66000
2014    105000
2015     67000
Name: mp, dtype: int64